<div
  class="h-screen w-screen opacity-70 bg-black fixed hidden nav-backdrop"
></div>
<header class="bg-slate-900 lg:flex lg:justify-between lg:items-center ">
  <nav class="flex text-white items-center justify-between p-3 lg:inline-block">
    <a href="/" class="text-4xl hover:text-red-950">Shoopr</a>
    <img
      src="/images/nav-bar-icon.svg"
      class="h-10 fill-white nav-bar-open lg:hidden"
      alt="nav-bar-logo"
    />
  </nav>
  <nav class="text-2xl text-white text-center px-3 hidden lg:inline-block">
    <ul class="flex space-x-3">
      <li>
        <a href="/" class="bg-slate-950 p-2 rounded-full hover:bg-slate-600">Shop</a>
      </li>
      <li>
        <a href="/products" class="bg-slate-950 p-2 rounded-full hover:bg-slate-600">Products</a>
      </li>
      <li>
        <a href="/cart" class="bg-slate-950 p-2 rounded-full hover:bg-slate-600">Cart</a>
      </li>
      <li>
        <a href="/orders" class="bg-slate-950 p-2 rounded-full hover:bg-slate-600">Orders</a>
      </li>
      <li>
        <a href="/admin/add-product" class="bg-slate-950 p-2 rounded-full hover:bg-slate-600"
          >Add Product(admin)
        </a>
      </li>
      <li>
        <a href="/admin/products" class="bg-slate-950 p-2 rounded-full hover:bg-slate-600"
          >Admin Products
        </a>
      </li>
    </ul>
  </nav>
</header>
<section
  class="bg-white text-white fixed top-0 right-0 w-10/12 h-screen flex justify-center items-center mobile-nav-section hidden"
>
  <nav class="text-2xl text-center">
    <ul class="flex flex-col space-y-7">
      <li>
        <a href="/" class="bg-slate-950 p-2 rounded-full">Shop</a>
      </li>
      <li>
        <a href="/products" class="bg-slate-950 p-2 rounded-full">Products</a>
      </li>
      <li>
        <a href="/cart" class="bg-slate-950 p-2 rounded-full">Cart</a>
      </li>
      <li>
        <a href="/orders" class="bg-slate-950 p-2 rounded-full">Orders</a>
      </li>
      <li>
        <a href="/admin/add-product" class="bg-slate-950 p-2 rounded-full"
          >Add Product(admin)
        </a>
      </li>
      <li>
        <a href="/admin/products" class="bg-slate-950 p-2 rounded-full"
          >Admin Products
        </a>
      </li>
    </ul>
  </nav>
</section>
