<%- include('includes/head.ejs') %>
</head>

<body class="bg-red-400 font-mono">
    <%- include('includes/navigation.ejs') %>

    <h1 class="text-5xl text-center mt-8">Page Not Found!</h1>

<%- include('includes/end.ejs') %>