<%- include('../includes/head.ejs') %>
    </head>

    <body class="h-full grid grid-rows-[4rem_auto]">
        <%- include('../includes/navigation.ejs') %>
        <main class="max-w-full text-center bg-slate-600 h-full">
            <h1 class="text-center">Nothing there!</h1>
        </main>
        <%- include('../includes/end.ejs') %>